html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    color: #000000;
    font-family: Courier, "Courier New", Helvetica, sans-serif;
    font-size: 16px;
}

/* General styles */
.unlisted {
    margin: 0;
    padding: 0;
}

.list-item {
    text-decoration: none;
    list-style: none;
}

.link-type-1 {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.link-type-1:hover {
    text-decoration: underline;
    color: #ffd700;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.link-type-2 {
    text-decoration: none;
    color: #000000;
    padding: 10px;
}

.link-type-2:hover {
    background-color: rgba(255, 215, 0, 0.6);
    text-decoration: underline;
    padding: 10px;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.link-background {
    margin: 10px;
}

.link-background a {
    background-color: #141e29;
    border-radius: 10px;
    padding: 10px;
}

section {
    margin-top: 80px;
    padding: 30px;
    text-align: center;
}

.section-title {
    font-size: 190%;
    color: #6c6c6c;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 40px 0;
}

.card {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-content: center;
}

/*Header styles */
header {
    background-color: #141e29;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px 30px;
}

header img {
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
}

nav ul {
    padding: 30px;
}

nav li {
    display: inline-block;
}

/* Hero styles */
#hero {
    margin-top: 0;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20% 10%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    font-size: 270%;
}

#hero p {
    font-size: 160%;
    font-weight: bold;
}

/* Projects styles */
.project {
    width: 27%;
    flex-flow: column wrap;
    justify-content: space-around;
}

.project ul {
    margin: 20px;
}

.project li {
    margin: 20px;
}

/* About styles */
#about {
    background-color: #f1f1f1;
    margin: 0 2%;
    border-radius: 10px;
}

#about p {
    font-size: 130%;
    text-align: justify;
    margin-bottom: 0;
}

/* Certifications styles */
.certification {
    width: 20%;
    flex-flow: row wrap;
    justify-content: center;
}

.certification-description {
    text-align: left;
}

.certification a {
    color: #000000;
    font-weight: lighter;
}

.icon {
    padding-right: 10px;
    width: 80px;
    max-height: 80px;
    border-radius: 50%;
    vertical-align: middle;
}

#certifications .link-background {
    margin-top: 100px;
}

#certifications .link-background a {
    padding: 20px;
}